body {
    background-image: url(../images/tileable_wood_texture_@2X.png);
    }

header {
    margin: 50px;
    font-family: 'Caveat Brush', cursive;
    color: #b03719;
    font-size: 65px;
    text-align: center;
}

.content-container {
    display: block;
    margin: auto;
    padding: 5px;
    width: 75%;
    height: 400px;
    text-align: center;
    font-family: 'Overlock', cursive;
    font-size: 20px;
    color: #b03719;
    background-color: #fcefe0;
    border: 3px solid #b03719;
}

#timer {
    /* border: 1px dotted #b03719; */
    margin: 30px 0px;
    font-size: 30px;
    font-weight: bold;
}

#question {
    /* border: 1px dotted green; */
    font-size: 25px;
    margin: 40px auto;

}

.answerList {
    /* border: 1px dotted; */
}

.answer {
    /* border: 1px dotted blue; */
    display: block;
    width: 350px;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

.answer:hover {
    background-color: #b03719;
    color: #fcefe0;
    cursor: pointer;
}

button {
    margin: 115px auto;
    width: 150px;
    font-family: 'Overlock', cursive;
    font-size: 30px;
    color: #fcefe0;
    background-color: #b03719;
    cursor: pointer;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}